:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* Variables */
  --transitionTime: 0.525s;
  --transitionStyle: ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: gray;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "color1 color2 color3 color4 color5";
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: auto 1fr;
  background-color: whitesmoke;
  gap: 2px;
  width: 100%;
  min-height: 260px;
  height: 100vh;
  height: calc(
    var(--vh, 1vh) * 100
  ); /*make height auto adjust, used for mobile browsers*/
  margin-inline: auto;
  padding: 0 5px 5px;
  transition: 300ms;
}

header {
  grid-area: header;
  background-color: whitesmoke;
}

.color-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-block: 1em;
}

.color:nth-of-type(1) {
  grid-area: color1;
}

.color:nth-of-type(2) {
  grid-area: color2;
}

.color:nth-of-type(3) {
  grid-area: color3;
}

.color:nth-of-type(4) {
  grid-area: color4;
}

.color:nth-of-type(5) {
  grid-area: color5;
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: lightgray;
  transition: var(--transitionTime) var(--transitionStyle);
  padding: 4px;
}

.hex-display {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 100%;
  padding: clamp(0.15em, 2vh, 0.75em);
  border-radius: 4.6px;
  transition: var(--transitionTime) var(--transitionStyle);
}

.color:hover {
  width: 99%;
  margin: 0 auto;
  box-shadow: #484848 0 0 5px 1px;
  transition: var(--transitionTime) var(--transitionStyle);
}

.color:hover .hex-display {
  padding-block: clamp(1.5em, 3vh, 3em);
  transition: var(--transitionTime) var(--transitionStyle);
}

section {
  border-radius: 4.6px;
}

section:first-of-type,
section:first-of-type > .hex-display {
  border-radius: 4.6px 4.6px 4.6px 15px;
}

section:last-of-type,
section:last-of-type > .hex-display {
  border-radius: 4.6px 4.6px 15px 4.6px;
}

/* MEDIA QUERIES */

@media (max-width: 450px) or (orientation: portrait) {
  .app-wrapper {
    grid-template-areas:
      "header"
      "color1"
      "color2"
      "color3"
      "color4"
      "color5";
    grid-template-columns: minmax(94px, 100%);
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
  }

  .app-wrapper > section {
    border-radius: 4.6px;
  }

  .hex-display {
    width: fit-content;
    align-self: end;
    border-radius: 4.6px !important;
  }

  .color:hover {
    margin: auto 0;
    height: 98%;
    box-shadow: #484848 0 0 5px 1px;
    transition: var(--transitionTime) var(--transitionStyle);
  }

  .color:hover .hex-display {
    margin-block: auto;
    transition: margin 1s ease;
    padding: clamp(0.75em, 100%, 1.25em);
    /* transition: var(--transitionTime) var(--transitionStyle); */
  }
}
