:root {
  font-family:
    Inter,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: gray;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "color1 color2 color3 color4 color5";
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: auto 1fr;
  background-color: whitesmoke;
  gap: 2px;
  width: 100%;
  min-height: 260px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); /*make height auto adjust, used for mobile browsers*/
  margin-inline: auto;
  padding: 0 6.3px 6.3px;
  transition: 300ms;
}

header {
  grid-area: header;
  background-color: whitesmoke;
}

.color-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  margin-block: 1em;
  
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: coral;
  padding: 4px;
}

#color1 {
  grid-area: color1;
  background-color: #8C2703
}

#color2 {
  grid-area: color2;
  background-color: #BF4904
}

#color3 {
  grid-area: color3;
  background-color: #D96704
}

#color4 {
  grid-area: color4;
  background-color: #43D9CA
}

#color5 {
  grid-area: color5;
  background-color: #0D0D0D
}

.hex-display {
  background-color: whitesmoke;
  width: 100%;
  text-align: center;
  padding: clamp(.15em, 2vh, .75em);
  border-radius: 4.6px;
}

section {
  border-radius: 4.6px;
}

section:first-of-type,
section:first-of-type>.hex-display {
  border-radius: 4.6px 4.6px 4.6px 15px;
}

section:last-of-type,
section:last-of-type>.hex-display {
  border-radius: 4.6px 4.6px 15px 4.6px;
}

/* MEDIA QUERIES */

@media (max-width: 450px) or (orientation: portrait) {
  .app-wrapper {
    grid-template-areas:
      "header"
      "color1"
      "color2"
      "color3"
      "color4"
      "color5";
    grid-template-columns: minmax(94px, 100%);
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
  }

  .app-wrapper>section {
    border-radius: 4.6px;
  }

  .hex-display {
    width: fit-content;
    align-self: end;
    border-radius: 4.6px !important;
  }
}